In [2]:
# import required libraries
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

import pandas as pd
import string

In [3]:
# download punctuation and stopwords from nltk
nltk.download('punkt')
nltk.download("stopwords")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [21]:
# load tweets_df and view
tweets_df = pd.read_csv("/content/Tweets.csv")
tweets_df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [22]:
# get dataframe ready for processing

# make sure the tweets in column "text" are strings
tweets_df['text'] = tweets_df['text'].astype('str')

# delete the unneccessary columns
tweets_df = tweets_df.drop(columns=["textID", "selected_text"])
tweets_df=tweets_df.rename(columns={'sentiment':'class'})
tweets_df=tweets_df[['class','text']]

In [20]:
def process_tweets(tweet):
    tweet = tweet.lower()
    tweet = "".join(char for char in tweet if char not in string.punctuation)
    tokenize_tweet = word_tokenize(tweet)
    stopword = stopwords.words("english")
    tweet_wo_stop = [word for word in tokenize_tweet if word not in stopword]
    final_tweet = " ".join(tweet_wo_stop)
    return final_tweet

In [23]:
# # process tweets using above function
tweets_df['text'] = tweets_df['text'].apply(lambda x: process_tweets(x))


# Create a length column to be used as a future feature 
tweets_df['length'] = len(tweets_df['text'])
tweets_df.head()

      class                                      text  length
0   neutral                        id responded going   27481
1  negative                   sooo sad miss san diego   27481
2  negative                             boss bullying   27481
3  negative                     interview leave alone   27481
4  negative  sons couldnt put releases already bought   27481

In [1]:
import os
# Find the latest version of spark 3.2  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.2.3'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [1,038 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,338 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,303 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,497 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [3,069 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,563 kB]
Fetched 13.1 MB in 9s (1,400 kB/s)
Reading package lists... Done

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("NaiveBayes").getOrCreate()

In [7]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer
# Create all the features to the data set
pos_neg_to_num = StringIndexer(inputCol='class',outputCol='label')
tokenizer = Tokenizer(inputCol="text", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [8]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

# Create feature vectors
clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')

In [9]:
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[pos_neg_to_num, tokenizer, stopremove, hashingTF, idf, clean_up])

In [24]:
from pyspark.sql import SQLContext
sc = SparkSession.builder.getOrCreate()
sqlContext = SQLContext(sc)

spark_tweets = sqlContext.createDataFrame(tweets_df)

/content/spark-3.2.3-bin-hadoop2.7/python/pyspark/sql/context.py:79: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [25]:
cleaner = data_prep_pipeline.fit(spark_tweets)
cleaned = cleaner.transform(spark_tweets)

In [26]:
# Show label and resulting features
cleaned.select(['label', 'features']).show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|(262145,[102382,1...|
|  2.0|(262145,[125638,1...|
|  2.0|(262145,[122399,1...|
|  2.0|(262145,[27308,16...|
|  2.0|(262145,[2306,660...|
|  0.0|(262145,[86752,91...|
|  1.0|(262145,[23087,53...|
|  0.0|(262145,[136020,1...|
|  0.0|(262145,[249180,2...|
|  1.0|(262145,[4631,440...|
|  0.0|(262145,[3386,130...|
|  1.0|(262145,[17734,11...|
|  2.0|(262145,[70143,15...|
|  2.0|(262145,[19153,73...|
|  0.0|(262145,[115148,1...|
|  2.0|(262145,[18184,28...|
|  2.0|(262145,[33123,97...|
|  2.0|(262145,[24698,11...|
|  2.0|(262145,[3386,178...|
|  0.0|(262145,[54591,26...|
+-----+--------------------+
only showing top 20 rows

In [27]:
from pyspark.ml.classification import NaiveBayes
# Break data down into a training set and a testing set
training, testing = cleaned.randomSplit([0.7, 0.3])

# Create a Naive Bayes model and fit training data
nb = NaiveBayes()
predictor = nb.fit(training)

In [30]:
# Tranform the model with the testing data
test_results = predictor.transform(testing)
test_results.show()

+--------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|   class|                text|length|label|          token_text|         stop_tokens|          hash_token|           idf_token|            features|       rawPrediction|         probability|prediction|
+--------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|negative|                    | 27481|  2.0|                  []|                  []|(262144,[249180],...|(262144,[249180],...|(262145,[249180,2...|[-161.71273184009...|[0.99999999999989...|       0.0|
|negative|0003 im wrecked i...| 27481|  2.0|[0003, im, wrecke...|[0003, im, wrecke...|(262144,[15769,31...|(262144,[15769,31...|(262145,[15769,31...|[-1040.5554932317...|[1.32889999555043...|       2.0|
|negative|1 thing sucks hol...| 27481|  2.0|[1, thing, sucks,...|[1, thing, sucks,...|(262144,[22057,70...|(262144,[22057,70...|(262145,[22057,70...|[-1817.8828255454...|[3.27560229284282...|       2.0|
|negative|1 week post myhor...| 27481|  2.0|[1, week, post, m...|[1, week, post, m...|(262144,[14072,29...|(262144,[14072,29...|(262145,[14072,29...|[-1943.0541878366...|[0.04516119612624...|       2.0|
|negative|1000 make sure wo...| 27481|  2.0|[1000, make, sure...|[1000, make, sure...|(262144,[24031,38...|(262144,[24031,38...|(262145,[24031,38...|[-1261.2656442863...|[0.99999999999999...|       0.0|
|negative|        2nit cant go| 27481|  2.0|    [2nit, cant, go]|    [2nit, cant, go]|(262144,[148675,1...|(262144,[148675,1...|(262145,[148675,1...|[-338.76543269191...|[0.99998702577320...|       0.0|
|negative|    654 damp weather| 27481|  2.0|[654, damp, weather]|[654, damp, weather]|(262144,[56881,65...|(262144,[56881,65...|(262145,[56881,65...|[-497.11855452382...|[2.02384922830765...|       1.0|
|negative|7846 almost catch...| 27481|  2.0|[7846, almost, ca...|[7846, almost, ca...|(262144,[3386,971...|(262144,[3386,971...|(262145,[3386,971...|[-1572.8162089399...|[7.59899316284737...|       2.0|
|negative|8 month old afric...| 27481|  2.0|[8, month, old, a...|[8, month, old, a...|(262144,[8254,475...|(262144,[8254,475...|(262145,[8254,475...|[-1562.4851496324...|[1.10555584583169...|       2.0|
|negative|830pm hit school ...| 27481|  2.0|[830pm, hit, scho...|[830pm, hit, scho...|(262144,[29129,61...|(262144,[29129,61...|(262145,[29129,61...|[-941.42286336980...|[0.99984301367365...|       0.0|
|negative|accidentaly slamm...| 27481|  2.0|[accidentaly, sla...|[accidentaly, sla...|(262144,[60655,74...|(262144,[60655,74...|(262145,[60655,74...|[-677.39378188766...|[5.68529151623578...|       2.0|
|negative|acsvxdcbgfn socce...| 27481|  2.0|[acsvxdcbgfn, soc...|[acsvxdcbgfn, soc...|(262144,[8538,133...|(262144,[8538,133...|(262145,[8538,133...|[-1070.5037471101...|[0.99999808367566...|       0.0|
|negative|actually hot toda...| 27481|  2.0|[actually, hot, t...|[actually, hot, t...|(262144,[17532,21...|(262144,[17532,21...|(262145,[17532,21...|[-838.72352563672...|[0.99999999996986...|       0.0|
|negative|actually think im...| 27481|  2.0|[actually, think,...|[actually, think,...|(262144,[31015,61...|(262144,[31015,61...|(262145,[31015,61...|[-582.00407527709...|[0.89017985958172...|       0.0|
|negative|addicted glee wat...| 27481|  2.0|[addicted, glee, ...|[addicted, glee, ...|(262144,[23102,63...|(262144,[23102,63...|(262145,[23102,63...|[-686.63073840610...|[1.33561207019604...|       1.0|
|negative|admit im bit bumm...| 27481|  2.0|[admit, im, bit, ...|[admit, im, bit, ...|(262144,[31015,60...|(262144,[31015,60...|(262145,[31015,60...|[-673.47503690616...|[0.99999946667496...|       0.0|
|negative|agh freaking goin...| 27481|  2.0|[agh, freaking, g...|[agh, freaking, g...|(262144,[2306,834...|(262144,[2306,834...|(262145,[2306,834...|[-703.94538076961...|[0.99993241219736...|       0.0|
|negative|ah bank holiday s...| 27481|  2.0|[ah, bank, holida...|[ah, bank, holida...|(262144,[23087,34...|(262144,[23087,34...|(262145,[23087,34...|[-525.85888661386...|[0.99995107778885...|       0.0|
|negative|aha yeah else fai...| 27481|  2.0|[aha, yeah, else,...|[aha, yeah, else,...|(262144,[28902,67...|(262144,[28902,67...|(262145,[28902,67...|[-974.99537021352...|[0.16306697361787...|       2.0|
|negative|ahh dang course b...| 27481|  2.0|[ahh, dang, cours...|[ahh, dang, cours...|(262144,[97370,11...|(262144,[97370,11...|(262145,[97370,11...|[-633.47372632807...|[0.99990914871326...|       0.0|
+--------+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [29]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting reviews was: %f" % acc)

Accuracy of model at predicting reviews was: 0.505579