In [1]:
# import required libraries
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

import pandas as pd
import string

In [2]:
# download punctuation and stopwords from nltk
nltk.download('punkt')
nltk.download("stopwords")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\apfle\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\apfle\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
# load tweets_df and view
tweets_df = pd.read_csv("Resources/Tweets.csv")
tweets_df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [4]:
# get dataframe ready for processing

# make sure the tweets in column "text" are strings
tweets_df['text'] = tweets_df['text'].astype('str')

# delete the unneccessary columns
tweets_df = tweets_df.drop(columns=["textID", "selected_text"])
tweets_df=tweets_df.rename(columns={'sentiment':'class'})
tweets_df=tweets_df[['class','text']]

In [5]:
def process_tweets(tweet):
    tweet = tweet.lower()
    final_tweet = "".join(char for char in tweet if char not in string.punctuation)
    # tokenize_tweet = word_tokenize(tweet)
    # stopword = stopwords.words("english")
    # tweet_wo_stop = [word for word in tokenize_tweet if word not in stopword]
    # final_tweet = " ".join(tweet_wo_stop)
    return final_tweet

In [6]:
# # process tweets using above function
tweets_df['text'] = tweets_df['text'].apply(lambda x: process_tweets(x))

tweets_df['length']=""
for index,row in tweets_df.iterrows():
  tweet_length=len(row['text'])
  tweets_df.loc[index,'length']=tweet_length
tweets_df

          class                                               text length
0       neutral                  id have responded if i were going     34
1      negative         sooo sad i will miss you here in san diego     43
2      negative                             my boss is bullying me     22
3      negative                      what interview leave me alone     30
4      negative   sons of  why couldnt they put them on the rel...     69
...         ...                                                ...    ...
27476  negative   wish we could come see u on denver  husband l...     76
27477  negative   ive wondered about rake to  the client has ma...    115
27478  positive   yay good for both of you enjoy the break  you...    109
27479  positive                              but it was worth it       22
27480   neutral     all this flirting going on  the atg smiles ...     55

[27481 rows x 3 columns]

In [7]:
import os
# Find the latest version of spark 3.2  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.2.3'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

'apt-get' is not recognized as an internal or external command,
operable program or batch file.
The system cannot find the path specified.
'wget' is not recognized as an internal or external command,
operable program or batch file.
tar: $SPARK_VERSION-bin-hadoop2.7.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

Exception: Unable to find py4j in /content/spark-3.2.3-bin-hadoop2.7\python, your SPARK_HOME may not be configured correctly

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("NaiveBayes").getOrCreate()

In [ ]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer
# Create all the features to the data set
pos_neg_to_num = StringIndexer(inputCol='class',outputCol='label')
tokenizer = Tokenizer(inputCol="text", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector

# Create feature vectors
clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')

In [ ]:
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[pos_neg_to_num, tokenizer, stopremove, hashingTF, idf, clean_up])

In [ ]:
from pyspark.sql import SQLContext
sc = SparkSession.builder.getOrCreate()
sqlContext = SQLContext(sc)

spark_tweets = sqlContext.createDataFrame(tweets_df)

In [ ]:
cleaner = data_prep_pipeline.fit(spark_tweets)
cleaned = cleaner.transform(spark_tweets)

In [ ]:
# Show label and resulting features
cleaned.select(['label', 'features']).show()

In [ ]:
from pyspark.ml.classification import NaiveBayes
# Break data down into a training set and a testing set
training, testing = cleaned.randomSplit([0.7, 0.3])

# Create a Naive Bayes model and fit training data
nb = NaiveBayes()
predictor = nb.fit(training)

In [ ]:
# Tranform the model with the testing data
test_results = predictor.transform(testing)
test_results.show(truncate=False)

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting reviews was: %f" % acc)

Optimized - Removing tweets marked as 'neutral

In [ ]:
optimized_df = pd.read_csv("/content/Tweets.csv")
optimized_df=optimized_df.loc[optimized_df['sentiment']!="neutral"]
optimized_df

In [ ]:
# get dataframe ready for processing

# make sure the tweets in column "text" are strings
optimized_df['text'] = optimized_df['text'].astype('str')

# delete the unneccessary columns
optimized_df = optimized_df.drop(columns=["textID", "selected_text"])
optimized_df=optimized_df.rename(columns={'sentiment':'class'})
optimized_df=optimized_df[['class','text']]

In [ ]:
optimized_df['text'] = optimized_df['text'].apply(lambda x: process_tweets(x))
optimized_df['length']=""
for index,row in optimized_df.iterrows():
  tweet_length=len(row['text'])
  optimized_df.loc[index,'length']=tweet_length
optimized_df

In [ ]:

opt_spark_tweets = sqlContext.createDataFrame(optimized_df)

In [ ]:
cleaner = data_prep_pipeline.fit(opt_spark_tweets)
cleaned = cleaner.transform(opt_spark_tweets)

In [ ]:
from pyspark.ml.classification import NaiveBayes
# Break data down into a training set and a testing set
training, testing = cleaned.randomSplit([0.7, 0.3])

# Create a Naive Bayes model and fit training data
opt_nb = NaiveBayes()
opt_predictor = opt_nb.fit(training)

In [ ]:
opt_test_results = opt_predictor.transform(testing)
opt_test_results.show(truncate=False)

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting reviews was: %f" % acc)